.footer {
  background: #17213b;
  position: relative;
  &-top {
    padding: 50px 0 130px;
    display: flex;
    &__list-item{
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__list-informations {
      margin-right: 30px;
      width: 150px;
      &:last-child {
        margin-right: 0;
        width: 321px;
      }
    }
  }
  &-img__text {
    display: flex;
    align-items: center;
  }
  &-low {
    background: #252b42;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    &__text {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #ffffff;
    }
    &__list {
      display: flex;
      align-items: center;
      &-item {
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
.top-informations {
  &__title {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #ffffff;
  }
  &__text {
  
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #ffffff;


  }
  &__img {
    margin-right: 10px;
  }
}
@media screen  and (max-width:1024px){
    .footer.container{
        padding-right: 50px;
        padding-left: 50px;
    }
    .footer-low.container{
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media screen  and (max-width:864px){
    .footer-top{
        flex-direction: column;
        
        align-items: flex-start;
        &__list-informations{
            margin-right: 0;
        }
    }

}
@media screen and (max-width: 412px){
.footer-top__list-informations{
  margin-bottom: 30px;
  max-width: 321px;
  width: initial;
  &:last-child{
    width: initial;
  }
}
.footer-low{
  flex-direction: column;
  bottom: -50px;
  &__text{
    margin-bottom: 50px;
    width: 231px;
  }
}
}
